@model ErrorViewModel
@{
    ViewData["Title"] = "Erro inesperado :/";
}

<h1 class="text-danger">Caro usuário</h1>

<h3>Ocorreu um problema fora de controle    </h3>
<h3>Aguarde que em breve iremos consertar tudo. </h3>
<br />
<br />

<h4>Detalhes do erro</h4>
<br />
<br />


<code>@Model.Erro </code>

