@model CidadeViewModel
@{
    ViewData["Title"] = "Form";
}

<h1>Cadastro de cidades</h1>

<form action="Salvar" method="post" class="col-md-6">
    <input type="hidden" name="Operacao" value="@ViewBag.Operacao" />
    <label for="Id" class="control-label">Id</label>
    @if (ViewBag.Operacao == "I")
    {
        <input type="number" Name="Id" value="@Model.Id" class="form-control" />
    }
    else
    {
        <input type="number" Name="Id" value="@Model.Id" class="form-control disabled" readonly />
    }
    <span asp-validation-for="Id" class="text-danger"></span>
    <br />

    <label for="Nome" class="control-label">Nome</label>
    <input type="text" Name="Nome" value="@Model.Nome" class="form-control" />
    <span asp-validation-for="Nome" class="text-danger"></span>
    <br />    
    
    <br />
    <input type="submit" value="Salvar dados" class="btn btn-success" />
    <br />
</form>

